/// Mixin to customize scroll bars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollBars(.5em, slategray);
@mixin scrollBars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
	// For Google Chrome
	::-webkit-scrollbar {
		width:  $size;
		height: $size;
	}

	::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}

	::-webkit-scrollbar-track {
		background: $background-color;
	}

	// For Internet Explorer
	body {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}

// mixin My iPhone
// Forked from http://codepen.io/Cancepto/pen/rxwvry
@mixin MyiPhone($container) {
	#{$container} {
		background-image: url(../img/bg-apple-stuff.jpg);
		background-size: 110%;
		background-color: #7f8c8d;
		color: #333;
		height: 979px;
		letter-spacing: 1px;
		transform: translateZ(1px);
	}

	#wrapper {
		height: 520px;
		width: 800px;
		margin-left: 140px;
		margin-top: -185px;
		position: absolute;
		perspective: 6000px;
		top: 50%;
		left: 50%;
	}

	#iphone {
		height: 760px;
		width: 372px;
		border-radius: 50px;
		position: absolute;
		background: 0;
		box-shadow: none;
		left: 206px;
		top: -140px;
		transform: rotateX(0deg) rotateZ(24deg);
		transform-style: preserve-3d;
	}

	#side {
		background: #cdd0d5;
		width: 374px;
		height: 761px;
		border-top-left-radius: 60px;
		border-bottom-left-radius: 56px;
		border-bottom-right-radius: 63px;
		border-top-right-radius: 57px;
		position: absolute;
		top: 4px;
		left: -4px;
		box-shadow: inset #3d3e42 0 0 15px 9px;
	}

	#front {
		width: 362px;
		height: 750px;
		border-radius: 49px;
		position: absolute;
		background-image: -webkit-linear-gradient(-27deg, #444, #000 10%, #000 42%, #333, #000 57%, #000 91%, #444);
		left: 5px;
		top: 5px;
		box-shadow: inset #000 0 0 0 4px, #555 0 0 3px 0, #222 -3px 2px, #000 -5px 5px, #E0E0E0 -7px 6px 1px, #6D6D6D -7px 6px 9px;
		transform: translateZ(1px);
	}

	#front-cover {
		width: 344px;
		height: 734px;
		background: #000;
		border-radius: 39px;
		position: absolute;
		top: 8px;
		left: 9px;
	}

	#home {
		position: absolute;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		background: linear-gradient(32deg, #666, #000, #666);
		top: 684px;
		left: 160px;
	}

	#home div {
		background: #000;
		border-radius: 50%;
		width: 46px;
		height: 46px;
		position: absolute;
		left: 3px;
		top: 3px;
	}

	#camera {
		width: 11px;
		height: 11px;
		background: #000;
		position: absolute;
		top: 35px;
		left: 124px;
		border-radius: 50%;
		box-shadow: inset #666 -5px 2px 9px -2px;
	}

	#camera div {
		width: 6px;
		height: 6px;
		background: radial-gradient(#E1E4F5, #0D2B69 33%);
		background-position: -1px -1px;
		position: absolute;
		top: 3px;
		left: 3px;
		border-radius: 50%;
	}

	#speaker {
		width: 50px;
		height: 4px;
		border-radius: 2px;
		background: #555;
		position: absolute;
		top: 39px;
		left: 156px;
		box-shadow: inset #222 0 0 4px;
	}

	#volume {
		height: 128px;
		width: 11px;
		border-radius: 10px;
		position: absolute;
		background: #f9f9fa;
		top: 171px;
		left: -9px;
		transform: rotateY(95deg);
		transform-style: preserve-3d;
		box-shadow: inset #292a2f 4px 0 8px 1px, #D5D5D5 -1px 0 2px;
	}

	#volume div {
		width: 8px;
		height: 55px;
		background: #bbbcc0;
		border-radius: 10px;
		position: absolute;
		box-shadow: #eee -1px 1px, #777 -1px 3px, #505057 -3px 3px, inset #909197 -3px 0 3px;
	}

	#volume div:first-child {
		top: 2px;
		left: 4px;
	}

	#volume div:last-child {
		top: 69px;
		left: 4px;
	}

	#toggler {
		height: 34px;
		width: 8px;
		border-radius: 10px;
		position: absolute;
		background: #2b2c31;
		top: 105px;
		left: -9px;
		transform: rotateY(95deg);
		transform-style: preserve-3d;
		box-shadow: inset #292a2f 4px 0 8px 1px, #D5D5D5 -1px 0 2px;
	}

	#toggler div {
		width: 4px;
		height: 31px;
		background: #bbbcc0;
		border-radius: 10px;
		position: absolute;
		box-shadow: #eee -1px 1px, #777 -2px 3px, #505057 -3px 3px, inset #909197 -3px 0 3px;
		top: -1px;
		left: 3px;
	}

	#aux {
		width: 19px;
		height: 19px;
		background: #3b3b3b;
		border-radius: 50%;
		transform: rotateX(90deg) translateZ(1px);
		transform-style: preserve-3d;
		position: absolute;
		top: 756px;
		left: 45px;
		box-shadow: inset #000 6px -3px 10px 1px, #C7C7C7 1px 0 1px;
	}

	#lightning {
		width: 48px;
		height: 12px;
		border-radius: 10px;
		background: #3f3f3f;
		transform: rotateX(90deg) translate3d(0px, 1px, 0px);
		top: 759px;
		position: absolute;
		left: 139px;
		box-shadow: inset #8e8f94 -1px 1px 0 2px, #515258 0 0 0 1px, inset #000 0 -3px 10px, #DADADA 1px 0 0 1px;
	}

	#bottom-speaker {
		position: absolute;
		transform: rotateX(90deg);
		top: 765px;
		left: 70px;
	}

	#bottom-speaker div {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #6c6d72;
		position: absolute;
		box-shadow: inset #000 1px -1px 4px 1px, #DADADA 1px 0;
	}

	#bottom-speaker div:nth-child(2) {
		left: 150px;
	}

	#bottom-speaker div:nth-child(3) {
		left: 162px;
	}

	#bottom-speaker div:nth-child(4) {
		left: 174px;
	}

	#bottom-speaker div:nth-child(5) {
		left: 186px;
	}

	#bottom-speaker div:nth-child(6) {
		left: 198px;
	}

	#bottom-speaker div:nth-child(7) {
		left: 210px;
	}

	#skrews {
		position: absolute;
		top: 765px;
		left: 120px;
		transform: rotateX(90deg);
	}

	#skrews div {
		position: absolute;
		width: 8px;
		height: 8px;
		background: #5f5c5c;
		border-radius: 50%;
		top: 0;
		z-index: 4;
		box-shadow: inset #999aa0 0 0 0 2px, #444 1px 0;
	}

	#skrews div:last-child {
		left: 70px;
	}

	#lines {
		position: absolute;
		top: 82px;
		left: -21px;
	}

	#lines>div:last-child {
		top: 634px;
	}

	#lines div {
		width: 7px;
		height: 11px;
		position: absolute;
		transform-style: preserve-3d;
		transform-origin: 100% 100%;
	}

	#lines>div {
		background: linear-gradient(right, #393A3C, #5A595E);
		transform: rotateY(90deg);
	}

	#lines>div>div {
		background: linear-gradient(right, #5A595E, #87868A);
		transform: rotateY(17deg);
		left: -6px;
	}

	#lines>div>div>div {
		background: linear-gradient(right, #87868A, #A8A6AD);
		transform: rotateY(17deg);
		left: -6px;
	}

	#shadow {
		width: 354px;
		height: 744px;
		background: black;
		position: absolute;
		top: 17px;
		left: 11px;
		transform: translateZ(-17px);
		transform-style: preserve-3d;
		box-shadow: #000 0 0 10px 15px;
		opacity: .4;
		border-top-left-radius: 58px;
		border-top-right-radius: 36px;
		border-bottom-left-radius: 52px;
		border-bottom-right-radius: 56px;
	}

	#screen {
		background: linear-gradient(#A1E5E5, #1987AA);
		width: 336px;
		height: 589px;
		position: absolute;
		top: 80px;
		left: 13px;
		font-weight: 300;
		color: #fff;
		background-size: 200% 100%;
		overflow: hidden;
	}

	#time {
		font-size: 86px;
		left: 57px;
		top: 37px;
		position: absolute;
	}

	#date {
		font-size: 30px;
		left: 85px;
		top: 310px;
		position: absolute;
	}

	#bottom {
		width: 37px;
		height: 7px;
		border-radius: 5px;
		background: #2ab1db;
		position: absolute;
		top: 573px;
		left: 149px;
	}

	#top {
		width: 37px;
		height: 7px;
		border-radius: 5px;
		background: #d7ffff;
		position: absolute;
		top: 10px;
		left: 149px;
	}

	#slide {
		position: absolute;
		top: 489px;
		left: 88px;
		font-size: 28px;
		color: #2ab1db;
		background: linear-gradient(left, #2EC4F3 30%, #fff, #2EC4F3 70%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 350px;
		animation: slide 5s linear infinite;
		font-size: 15px;
	}

	@keyframes slide {
		0% {
			background-position: 100px 0;
		}
		40% {
			background-position: 440px 0;
		}
		100% {
			background-position: 440px 0;
		}
	}

	#slide div {
		transform: rotate(135deg);
		border-left: 2px solid #2ab1db;
		border-top: 2px solid #2ab1db;
		width: 15px;
		height: 15px;
		position: absolute;
		left: -29px;
		top: 10px;
	}

	#signal {
		position: absolute;
		top: 9px;
		left: 7px;
	}

	#signal div {
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #fff;
		border: 1px solid #fff;
		position: absolute;
	}

	#signal div:nth-child(2) {
		left: 9px;
	}

	#signal div:nth-child(3) {
		left: 18px;
	}

	#signal div:nth-child(4) {
		left: 27px;
	}

	#signal div:nth-child(5) {
		left: 36px;
		background: 0;
	}

	#battery {
		position: absolute;
		top: 3px;
		left: 270px;
		font-size: 13px;
	}

	#battery>div:last-child {
		width: 27px;
		height: 9px;
		border: 1px solid #fff;
		position: absolute;
		top: 4px;
		left: 27px;
		border-radius: 2px;
	}

	#battery div div:first-child {
		width: 21px;
		height: 5px;
		background: #fff;
		position: absolute;
		top: 1px;
		left: 1px;
	}

	#battery div div:last-child {
		width: 1px;
		height: 6px;
		background: #FFF;
		position: absolute;
		left: 27px;
		top: 1px;
		border-radius: 0 1px 1px 0;
	}

	#reminder {
		position: absolute;
		top: 400px;
		left: 40px;
		width: 296px;
		height: 50px;
		border-top: 1px solid #86e2f0;
		border-bottom: 1px solid #86e2f0;
		line-height: 50px;
		font-weight: 400;
		opacity: 0;
		animation: reminder .1s linear forwards 5s;
	}

	#reminder div:first-child {
		// background: #fff;
		background: url(../img/coolops-logo-32x32.png);
		background-size: 100%;
		width: 24px;
		height: 24px;
		border-radius: 3px;
		position: absolute;
		top: 12px;
	}

	#reminder div:nth-child(2) {
		position: absolute;
		left: 30px;
		width: 210px;
	}

	#reminder div:last-child {
		position: absolute;
		left: 251px;
		font-size: 11px;
		color: #86e2f0;
	}

	@keyframes reminder {
		100% {
			opacity: 1;
		}
	}

	#awwwards {
		position: absolute;
		bottom: 30px;
		left: 70px;
	}

	#awwwards a {
		color: #444;
		text-decoration: none;
		border-bottom: 1px solid #888;
	}

	#coolors {
		position: absolute;
		bottom: 30px;
		right: 30px;
		color: #444;
		text-decoration: none;
		border-bottom: 1px solid #888;
		animation: coolors 1s infinite;
		opacity: 1;
	}

	@keyframes coolors {
		50% {
			right: 40px;
		}
	}

	#clock {
		box-sizing: border-box;
		width: 225px;
		height: 225px;
		border: 35px solid #a1e5e5;
		border-radius: 50%;
		margin: 0 auto;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	#clock:after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		background: black;
		border: 12px solid #a1e5e5;
		border-radius: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	#hours,
	#minutes,
	#seconds {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	#hours:after,
	#hours:after,
	#hours:after,
	#minutes:after,
	#minutes:after,
	#minutes:after,
	#seconds:after,
	#seconds:after,
	#seconds:after {
		content: "";
		display: block;
		margin: 50% 50%;
		width: 50%;
		-webkit-transform-origin: left top;
		-ms-transform-origin: left top;
		transform-origin: left top;
		-webkit-animation: clock linear infinite;
		animation: clock linear infinite;
	}

	#hours:after {
		width: 30%;
		outline: 4px solid #a1e5e5;
		-webkit-animation-duration: 86400s;
		animation-duration: 86400s;
	}

	#minutes:after {
		width: 40%;
		outline: 3px solid #a1e5e5;
		-webkit-animation-duration: 3600s;
		animation-duration: 3600s;
	}

	#seconds:after {
		width: 48%;
		outline: 2px solid #a1e5e5;
		-webkit-animation-duration: 60s;
		animation-duration: 60s;
	}

	@-webkit-keyframes clock {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@keyframes clock {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	.pulse {
		position: absolute;
		display: block;
		width: 10px;
		height: 10px;
		background: #a1e5e5;
		border-radius: 50%;
		top: 80px;
		left: 90px;
		margin-left: 15px;
		margin-top: 15px;
	}

	.pulse:before,
	.pulse:after {
		content: "";
		position: absolute;
		box-sizing: border-box;
		width: 10px;
		height: 10px;
		border: 1px solid #a1e5e5;
		border-radius: 50%;
	}

	.pulse:before {
		-webkit-animation: blip1 1s infinite cubic-bezier(0, 0.6, 1, 0.6);
		animation: blip1 1s infinite cubic-bezier(0, 0.6, 1, 0.6);
	}

	.pulse:after {
		-webkit-animation: blip2 1s infinite linear;
		animation: blip2 1s infinite linear;
	}

	@-webkit-keyframes blip1 {
		to {
			-webkit-transform: scale(3);
			transform: scale(3);
			opacity: 0;
		}
	}

	@keyframes blip1 {
		to {
			-webkit-transform: scale(3);
			transform: scale(3);
			opacity: 0;
		}
	}

	@-webkit-keyframes blip2 {
		to {
			-webkit-transform: scale(2);
			transform: scale(2);
			opacity: 0;
		}
	}

	@keyframes blip2 {
		to {
			-webkit-transform: scale(2);
			transform: scale(2);
			opacity: 0;
		}
	}

	menu {
		-webkit-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		-webkit-transition-delay: .75s;
		transition-delay: .75s;
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		background-color: transparent;
		margin: -45px 0 0 -45px;
		position: absolute;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		cursor: pointer;
		left: 50%;
		top: 50%;
	}

	menu:before,
	menu:after {
		content: "";
		z-index: 2;
		position: absolute;
		width: 3px;
		height: 22.5px;
		cursor: pointer;
		background-color: transparent;
		top: 50%;
		left: 50%;
	}

	menu:before {
		-ms-transform: translate(-50%, -50%) rotate(-90deg);
		-webkit-transform: translate(-50%, -50%) rotate(-90deg);
		transform: translate(-50%, -50%) rotate(-90deg);
	}

	menu:after {
		-ms-transform: translate(-50%, -50%) rotate(0deg);
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}

	menu li {
		-webkit-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		-webkit-transition-delay: .75s;
		transition-delay: .75s;
		width: 59.4px;
		height: 59.4px;
		margin: -29.7px 0 0 -29.7px;
		opacity: 0;
		text-align: center;
		font-size: 18px;
		font-family: Helvetica, sans-serif;
		font-weight: 100;
		line-height: 59.4px;
		color: #fbfdff;
		border-radius: 50%;
		background-color: #1987aa;
		list-style-type: none;
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 50%;
	}

	menu li li:nth-of-type(1) {
		-ms-transform: rotate(0deg) translate(0, 0);
		-webkit-transform: rotate(0deg) translate(0, 0);
		transform: rotate(0deg) translate(0, 0);
	}

	menu li li:nth-of-type(2) {
		-ms-transform: rotate(60deg) translate(0, 0);
		-webkit-transform: rotate(60deg) translate(0, 0);
		transform: rotate(60deg) translate(0, 0);
	}

	menu li li:nth-of-type(3) {
		-ms-transform: rotate(120deg) translate(0, 0);
		-webkit-transform: rotate(120deg) translate(0, 0);
		transform: rotate(120deg) translate(0, 0);
	}

	menu li li:nth-of-type(4) {
		-ms-transform: rotate(180deg) translate(0, 0);
		-webkit-transform: rotate(180deg) translate(0, 0);
		transform: rotate(180deg) translate(0, 0);
	}

	menu li li:nth-of-type(5) {
		-ms-transform: rotate(240deg) translate(0, 0);
		-webkit-transform: rotate(240deg) translate(0, 0);
		transform: rotate(240deg) translate(0, 0);
	}

	menu li li:nth-of-type(6) {
		-ms-transform: rotate(300deg) translate(0, 0);
		-webkit-transform: rotate(300deg) translate(0, 0);
		transform: rotate(300deg) translate(0, 0);
	}

	menu:hover {
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}

	menu:hover li {
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		opacity: 1;
	}

	menu:hover li:nth-of-type(1) {
		-ms-transform: rotate(-180deg) translate(0, -90px);
		-webkit-transform: rotate(-180deg) translate(0, -90px);
		transform: rotate(-180deg) translate(0, -90px);
	}

	menu:hover li:nth-of-type(2) {
		-ms-transform: rotate(-120deg) translate(0, -90px);
		-webkit-transform: rotate(-120deg) translate(0, -90px);
		transform: rotate(-120deg) translate(0, -90px);
	}

	menu:hover li:nth-of-type(3) {
		-ms-transform: rotate(-60deg) translate(0, -90px);
		-webkit-transform: rotate(-60deg) translate(0, -90px);
		transform: rotate(-60deg) translate(0, -90px);
	}

	menu:hover li:nth-of-type(4) {
		-ms-transform: rotate(0deg) translate(0, -90px);
		-webkit-transform: rotate(0deg) translate(0, -90px);
		transform: rotate(0deg) translate(0, -90px);
	}

	menu:hover li:nth-of-type(5) {
		-ms-transform: rotate(60deg) translate(0, -90px);
		-webkit-transform: rotate(60deg) translate(0, -90px);
		transform: rotate(60deg) translate(0, -90px);
	}

	menu:hover li:nth-of-type(6) {
		-ms-transform: rotate(120deg) translate(0, -90px);
		-webkit-transform: rotate(120deg) translate(0, -90px);
		transform: rotate(120deg) translate(0, -90px);
	}
}

// mixin button_with_preloader
@mixin button_with_preloader {
	
	$preloader-container-width: $preloader-tiny-size;

	.btn-with-preloader {
		@extend .btn;
		@extend .waves-effect;
		@extend .waves-light;
		@extend .row;

		.preloader-container {
			@extend .valign-wrapper;

			width: $preloader-container-width;
			height: 100%;
			padding: 0;
		}

		.title {
			transition: width .4s ease-in-out;
			width: 100%;
		}

		&.processing .title {
			width: calc(100% - #{$preloader-container-width});
		}

		.spinner-layer {
			border-color: $button-color-raised;
		}

		&:disabled .spinner-layer {
			border-color: $button-color-disabled;
		}
	}
}

// mixin overlay
@mixin overlay($bgColor: #000, $bgOpacity: 0.3){ 
	background: rgba($bgColor, $bgOpacity);
}

// mixin divider_with_text
@mixin divider_with_text($padding: 10px, $color: color('grey', 'lighten-1')) {

	.divider-with-text {
		overflow: hidden;
		text-align: center;

		&::before,
		&::after {
			content: "";
			border-bottom: 1px solid #{$color};
			display: inline-block;
			width: 10%;
			vertical-align: middle;
		}

		&::before {
			margin-right: $padding;
		}

		&::after {
			margin-left: $padding;
		}
	}
}
