.input-field {
	.prefix ~ .select-wrapper {
		margin-left: 3rem;
	}
}

.spinner-button-color-only {
	border-color: $button-color-raised;
}

.spinner-button-color-disabled-only {
	border-color: $button-color-disabled;
}

.preloader-wrapper.tiny {
	width: $preloader-tiny-size;
	height: $preloader-tiny-size;
}

.collection a.collection-item.simple-avatar {
	display: flex;
	align-items: center;

	> .title {
		margin-left: .7rem;
	}
}