@import "parts/_materialize_components/color";
@import "parts/_variables";
@import "parts/helpers";
@import "parts/materialize";
@import "parts/main";
@import "parts/bootstrap";
@import "parts/scroller";
@import "parts/yay";
@import "parts/navbar-top";
@import "parts/search-bar";
@import "parts/widgets";
@import "parts/chat";
@import "parts/forms";
@import "parts/timeline";
@import "parts/datatables";
@import "parts/calendar";
@import "parts/photo-swipe";
@import "parts/pricing-table";

@import "parts/profile";
@import "parts/sign-pages";
@import "parts/mail";
@import "parts/layouts";
@import "parts/ecommerce";

@import "parts/hover-effects";
@import "parts/load-spinner";

@import "parts/footer";
@import "parts/demo";

@import "parts/rtl";