// +button_with_preloader
$preloader-container-width: $preloader-tiny-size;

.btn-with-preloader {
	@extend .btn;
	@extend .waves-effect;
	@extend .waves-light;
	@extend .row;

	.preloader-container {
		@extend .valign-wrapper;

		width: $preloader-container-width;
		height: 100%;
		padding: 0;
	}

	.title {
		transition: width .4s ease-in-out;
		width: 100%;
	}

	&.processing .title {
		width: calc(100% - #{$preloader-container-width});
	}

	.spinner-layer {
		@extend .spinner-button-color-only;
	}

	&:disabled .spinner-layer {
		@extend .spinner-button-color-disabled-only;
	}
}