-
    /**
     * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
     * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
     *
     * Licensed under The MIT License
     * For full copyright and license information, please see the LICENSE.txt
     * Redistributions of files must retain the above copyright notice.
     *
     * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
     * @link          http://cakephp.org CakePHP(tm) Project
     * @since         0.10.0
     * @license       http://www.opensource.org/licenses/mit-license.php MIT License
     */

    $baseTitle = __('CakePHP: the rapid development php framework');

doctype html
<html>
<head>
    != $view->Html->charset()
    title #{$view->fetch('full_title', $baseTitle . ': ' . $view->fetch('title'))}

    != $view->Html->meta('icon')

    != $view->AssetCompress->css('cake_default')

    != $view->fetch('meta')
    != $view->fetch('css')
    != $view->fetch('script')
</head>
<body>
    #container
        #header
            h1!= $view->Html->link($baseTitle, 'http://cakephp.org')
        #content
            != $view->Flash->render()
            != $view->fetch('content')
        #footer
            != $view->Html->link(
                    $view->Html->image('cake.power.gif', ['alt' => $baseTitle, 'border' => '0']),
                    'http://www.cakephp.org/',
                    ['target' => '_blank', 'escape' => false]
                )
</body>
</html>
