-
	use Cake\Core\Configure;

	$baseTitle = __('CakePHP: the rapid development php framework');

doctype html

<!--[if lt IE 7]>  <html class="lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
	!= $view->Html->charset()
	!= $view->Html->meta(['http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge'])
	!= $view->Html->meta("description", "")
	!= $view->Html->meta("viewport", "width=device-width, initial-scale=1.0, maximum-scale=1")

	block title
		title #{$view->fetch('full_title', $baseTitle . ': ' . $view->fetch('title'))}

	!= $view->Html->meta('icon')

	block override_css
		!= $view->AssetCompress->css('public', ['media' => 'screen, projection'])
	block add_css

	<!--[if lt IE 9]>
		<script src="assets/components_premium/con-material-adui/dist/assets/html5shiv/html5shiv.min.js"></script>
	<![endif]-->

	!= $view->fetch('meta')
	!= $view->fetch('add_css')
</head>
<body id="<?= $page_id ?>">
	
	!= $view->fetch('content')

	//- Scripts
	block override_script
		!= $view->AssetCompress->script('public')
	block add_script
	!= $view->fetch('add_script');
</body>
</html>