#sign-in {
	.links {
		align-items: flex-end;
		display: flex;
		height: inherit;
		padding-bottom: 0;
	}

	.alert .close {
		width: inherit;
		height: inherit;
		margin-top: 0;
		line-height: initial;
	}
}